@import "./variables.scss";
/* 改变主题色变量 */
$--color-primary: var(--primary);
$--color-success: $mainSuccess;
$--color-danger: $mainDanger;
$--color-warning: $mainWarning;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
