.avue-sidebar {
  user-select: none;
  position: relative;
  padding-top: 74px;
  height: 100%;
  position: relative;
  background-color: #fff;
  transition: width 0.2s;
  box-sizing: border-box;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  &--tip {
    width: 90%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5%;
    color: #ccc;
    z-index: 2;
    text-align: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .el-menu-item,
  .el-submenu__title {
    font-size: 14px;
    height: 46px;
    line-height: 46px;
  }
  .el-menu-item {
    span,
    i {
      color: rgba(0, 0, 0, 0.65);
    }
    &:hover {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.65);
      span,
      i {
        color: var(--primary);
      }
    }
    &.is-active {
      background-color: rgba(var(--primary-opacity), 0.1);
      span,
      i {
        color: var(--primary);
        font-weight: 500;
      }
      &:hover {
        background-color: rgba(var(--primary-opacity), 0.1);
      }
      &::before {
        content: ' ';
        top: 0;
        right: 0;
        bottom: 0;
        width: 3px;
        background: var(--primary);
        position: absolute;
      }
    }
  }
  .el-submenu__title {
    span,
    i {
      color: rgba(0, 0, 0, 0.65);
    }
    &:hover {
      i,
      span {
        color: var(--primary);
      }
      background-color: transparent;
    }
  }
  .el-submenu .el-menu-item,
  .el-submenu .menu-wrapper {
    span {
      padding-left: 12px;
    }
  }
  .el-submenu .el-menu-item {
    height: 40px;
    line-height: 40px;
    span,
    .menu-wrapper {
      padding-left: 12px;
    }
    span,
    i {
      color: rgba(0, 0, 0, 0.65);
    }
    &.is-active {
      background-color: rgba(var(--primary-opacity), 0.1);
      span,
      i {
        color: var(--primary);
        font-weight: 500;
      }
      &:hover {
        background-color: rgba(var(--primary-opacity), 0.1);
      }
    }
    &:hover {
      background-color: transparent;
      span,
      i {
        color: var(--primary);
      }
    }
  }
}
