//main
$mainBg: #1890ff;
$mainBgHover: rgba(230, 247, 255, 1);
$whiteColor65: rgba(255, 255, 255, 0.65);
$logoBg: #2a5bb5;
$fontLightBlue: #32c5ff;
$mainBorderColor: rgba(145, 213, 255, 1);
$mainLinkColor: #266bee;
$mainSuccess: #00c801;
$mainDanger: #ff383a;
$mainWarning: #ffaa01;

// 黑色
$mainBlack25: rgba(0, 0, 0, 0.25);
$mainBlack45: rgba(0, 0, 0, 0.45);
$mainBlack65: rgba(0, 0, 0, 0.65);
$mainBlack85: rgba(0, 0, 0, 0.85);
$mainBlack05: rgba(0, 0, 0, 0.5);
$mainBlack: rgba(0, 0, 0, 1);

// 尺寸变量
$border-radius: 4px;

$padding-xs: 10px;
$padding-base: 20px;
