@import '@/styles/variables.scss';

.page {
  padding: 20px;
}
.view-table {
  overflow: auto;
  thead {
    background-color: #f1f5fa;
  }
  th,
  td {
    padding: 12px 16px;
    border: 1px solid #dfe8f3;
  }
  th {
    color: #24335e;
    font-weight: normal;
  }
  .color {
    &-blue {
      color: #24335e;
    }
  }
  .bg-level {
    &-1 {
      background-color: #e7effa;
    }
    &-2 {
      background-color: #f1f5fa;
    }
    &-3 {
      background-color: #fafcff;
      // background-color: #f1f5fa;
    }
  }
}
